* {
	font-family: 'Overpass Mono', monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.navbar-button {
	font-size: 1em;
	font-weight: normal;
	transition: font-size .7s, font-weight: .7s;
	-webkit-transition: font-size .7s, font-weight .7s;
}

.navbar-button:hover {
	font-size: 2em;
	font-weight: bold;
	transition: font-size: .7s, font-weight .7s;
	-webkit-transition: font-size .7s, font-weight .7s;	
}

/*.ben-home-button {
	font-size: 1em;
	transition: font-size .7s, font-weight: .7s;
	-webkit-transition: font-size .7s, font-weight .7s;

}

.ben-home-button:hover {
	font-size: 2em;
	font-weight: bold;
	transition: font-size: .7s, font-weight .7s;
	-webkit-transition: font-size .7s, font-weight .7s;


}*/

.dark-class {
	background-color: #30404d;
}

.light-class {
	background-color: white;
}

.project-description {
	padding: 2%;
	text-overflow: hidden;
}

.linkedin-image {
	margin: 0 auto;
	width: 80%;
}


.home-card {
	width: 600px;
	height: 20%;
	padding: 1%;
	-webkit-transition: width 1s;
	transition: width 1s;
	margin: 0 auto;
	margin-top: 2%;
	text-align: center;
	min-height: 100px; 
}

.home-card:hover {
	width: 650px;
	height: 23%;
	-webkit-transition: width 1s;
	transition: width 1s;
}

.linkedin-card {

}


.github-card {
	background-image: url('/assets/png/octocat.png');
	background-size: cover;
	min-height: 500px;

}

.project-card {
	height: 300px;
	width: 80%;
	min-width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-top: 7.5%;
	text-overflow: ellipsis;
	padding: 5%;
	font-size: 1em;
	font-weight: normal;
	transition: font-size .7s, font-weight: .7s;
	-webkit-transition: font-size .7s, font-weight .7s;
	/*border: 1px solid green;*/
	
}

.project-card:hover {
	font-size: 1.7em;
	font-weight: bold;
	transition: font-size: .7s, font-weight .7s;
	-webkit-transition: font-size .7s, font-weight .7s;	

}

.resume-card {
	font-size: 1em;
	font-weight: normal;
	-webkit-transition: font-size .7s, font-weight .7s;
	transition: font-size .7s, font-weight .7s;

	height: 300px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20%;
	text-overflow: ellipsis;
	padding: 5%;
}

.resume-card:hover {

	font-size: 1.5em;
	font-weight: bold;
	-webkit-transition: font-size .7s, font-weight .7s;
	transition: font-size .7s, font-weight .7s;
}
.wiki-card {

}

.poggle-card {

}

.booki-card {

}