* {
	font-family: 'Overpass Mono', monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
/*	min-width: 500px;
*/}

.navbar-top {
	min-width: 500px;
}


.navbar-button {
	font-size: 1em;
	font-weight: normal;
	transition: font-size .7s, font-weight: .7s;
	-webkit-transition: font-size .7s, font-weight .7s;
}

.navbar-button:hover {
	font-size: 2em;
	font-weight: bold;
	transition: font-size: .7s, font-weight .7s;
	-webkit-transition: font-size .7s, font-weight .7s;	
}

/*.ben-home-button {
	font-size: 1em;
	transition: font-size .7s, font-weight: .7s;
	-webkit-transition: font-size .7s, font-weight .7s;

}

.ben-home-button:hover {
	font-size: 2em;
	font-weight: bold;
	transition: font-size: .7s, font-weight .7s;
	-webkit-transition: font-size .7s, font-weight .7s;


}*/

.dark-class {
	background-color: #30404d;
}

.light-class {
	background-color: white;
}

.project-description {
	padding: 2%;
	text-overflow: hidden;
}

.linkedin-image {
	margin: 0 auto;
	width: 80%;
}


.home-card {
	width: 70%;
	height: 20%;
	padding: 1%;
	-webkit-transition: width 1s, height 1s, background-color .7s;
	transition: width 1s, height 1s, background-color .7s;
	margin: 0 auto;
	margin-top: 2%;
	text-align: center;
	min-height: 100px;
	min-width: 300px; 
/*	max-width: 600px;
	max-height: 140px;*/
}

.home-card:hover {
	width: 80%;
	height: 23%;
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
}

.linkedin-card {
	padding: 3%;

}

.bandcamp-card {
	padding-top: 2%;
}


.github-card {
/*	background-image: url('/assets/png/octocat.png');
	background-size: cover;*/
	min-height: 266px;
	max-height: 600px;


}

.github-image {
	height: 90%;
	width: 90%;
	max-height: 550px;
	max-width: 662px;
}

.linkedin-image {}
.bandcamp-image {}

.linkedin-card:hover {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


.bandcamp-card:hover {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}	


.github-image:hover {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.project-card {
	height: 300px;
	width: 80%;
	min-width: 200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
	text-overflow: ellipsis;
	padding: 5%;
	font-size: 1em;
	font-weight: normal;
	transition: font-size .5s, font-weight: .5s, background-color .7s;
	-webkit-transition: font-size .5s, font-weight .5s, background-color .7s;
	/*border: 1px solid green;*/
	
}

.project-card:hover {
	font-size: 1.7em;
	font-weight: bold;
	transition: font-size: .5s, font-weight .5s;
	-webkit-transition: font-size .5s, font-weight .5s;	

}

.project-card h1 {
	color: black;
	transition: color 1s;
	-webkit-transition: color 1s;
}

.project-card:hover h1 {
	color: green;
	transition: color 1s;
	-webkit-transition: color 1s;
}

.music-card {
	opacity: 1;
	width: 80%;
	margin: 0 auto;
	border-radius: 15%;
	transition: width: .7s;
	-webkit-transition: width: .7s;
	transition: background-color .7s;
	-webkit-transition: background-color .7s;
	/*height: 15%;*/
}
.music-card:hover {
	width: 70%;
	/*opacity: .95;*/
	transition: width .7s;
	-webkit-transition: width .7s;
}

.small-music-player-wrapper {
	width: 60%;
	margin: 0 auto;
	/*transition: opacity .7s, width .7s;*/
	/*-webkit-transition: opacity .7s, width .7s;*/
}

.small-music-player {
	width: 100%;
	height: 120px;
	margin: 0 auto;
	border: 0;
	/*transition: opacity .7s, width .7s;*/
	/*-webkit-transition: opacity .7s, width .7s;	*/
}


.beat-to-beat-card {
	padding: 2%;
	height: 15%;
	margin-top: 5%;

}
.stone-country-card {
	padding: 2%;
	height: 15%;
	margin-top: 5%;

}
.shed-a-little-light-card {
	padding: 2%;
	height: 15%;
	margin-top: 7%;

}


.sushi-and-miniskirts-card {
	/*height: 60%;*/
	/*padding: 5px;*/
	margin: 0 auto;
	margin-top: 5%;
	height: 500px;
	min-height: 500px;
	max-height: 1000px;
	position: relative;
}

.sushi-player-wrapper {
	width: 80%;
	height: 90%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px yellow dotted;*/
}

.sushi-player {
	border: 0;
	width: 31%;
	height: 100%;
	/*min-height: 700px;*/
	margin: 0 auto;
	/*align: center;*/
	/*padding: 5px;         */

}


.resume-card {
	height: 40%;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20%;
	text-overflow: ellipsis;
	padding: 5%;
	/*min-height: 400px;*/
	font-size: 1em;
	font-weight: normal;
	-webkit-transition: font-size .5s, font-weight .5s, background-color .7s;
	transition: font-size .5s, font-weight .5s, background-color .7s;

}


.resume-card:hover {

	font-size: 1.5em;
	font-weight: bold;
	opacity: .95;
	-webkit-transition: font-size .5s, font-weight .5s;
	transition: font-size .5s, font-weight .5s;
}

.resume-card h1 {
	color: black;
	transition: color 1s;
	-webkit-transition: color 1s;
}

.resume-card:hover h1 {
	color: blue;
	transition: color 1s;
	-webkit-transition: color 1s;
}
.wiki-card {

}

.poggle-card {
	margin-top: 80px;

}

.booki-card {

}